 .steps-headers {
                text-align: center;
            }

            .nav-steps {
                border: none;
                padding-bottom: 1px; 
                background-color: orange;
                display: inline-block;
                overflow: hidden; 
            }

            .nav-steps>li>a {
                margin-right: 0px;
                line-height: 1.428571429;
                width: 180px;
            }

            /* step arrow style */
            .nav-steps>.step a:after {
                position: absolute;
                z-index: 2;
                content: '';
                top: 0px;
                right: -30px;
                border-bottom: 23px solid transparent;
                border-left: 23px solid orange;
                border-top: 20px solid transparent;
                width: 31px;
            }


            /* disable step arrow style for last item */
            .nav-steps>.step:last-child a:after {
                display: none;
            }

            /* HOVER STYLE */

            /* hover state */
            .nav-steps>li a:hover {
                background-color: pink;
                color: white;
                border-radius: 0px;  
            }



            /* step arrow color on hover:after */
            .nav-steps .step:hover a:after {
                border-left-color: pink;
            }

            /* ACTIVE STYLE */

            /* active state */
            .nav-steps>li.active>a, .nav-steps>li.active>a:hover, .nav-steps>li.active>a:focus {
                background-color: yellow;
                color: black;
                border-radius: 0px;
            }

            /* step arrow color on active:after */
            .nav-steps .step.active a:after {
                border-left-color: yellow;
            } 


            /*-----------------*/

            .face{
                position:absolute;
                display:inline-block;
                margin:10px;
                overflow: hidden;
                top:70px;
                width:400px;
                height:480px
            }
            .mask{
                position:absolute;
                pointer-events:none;  
                top:100px;
                z-index:999;

            }.hints{

                display:block;
                margin:20px 10px 10px 10px;
                overflow: hidden;
                top:100px;
                /*    width:410px;*/
                height:497px; 
            }
            .tools{
                display:block;
                margin:20px 10px 10px 10px;
                overflow: hidden;
                top:100px;
                /*    width:410px;*/
                height:497px; 
            }
            #maskcanvas
            {
                position:absolute;
                margin-left:55px;
                margin-top:30px

            }
            /*clickthrough*/
            .clickthrough{
                pointer-events:none;
            }